@tailwind utilities;
/* @tailwind base; */
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* TODO: Organize CSS*/
body {
  background: #f2f2f2;
  margin: 0;
}
body * {
  font-family: "Poppins";
}




